@media screen and (max-width:576px) {
    /* ==========================
       HEADER STYLES
    ========================== */
    .header-container {
        padding: 30px 20px;
    }

    /* logo container styles */

    .logo-img img{
    width: 25px;
    height: 25px;
    }

    .logo-title h1{
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(91, 91, 91);
    }
    
   /* nav container styles*/
   .nav-container{
    gap: 0;
   }

   .nav-container ul{
    display: none;
   }

   /* navigation button */
   .nav-button button{
    padding: 10px 15px;
    font-size: 15px;
} 


    /* ==========================
       NEVIGATION STYLES
       ========================== */
        
    
    /* ==========================
       BANNER STYLES
       ========================== */
      
    
    
    /* ==========================
       MAIN CONTAINER STYLES
       ========================== */
    
       
    
    }
    
    
    @media screen and (min-width:577px) and (max-width:768px){
    /* ==========================
       HEADER STYLES
    ========================== */
    .header-container {
        padding: 30px;
        background-color: antiquewhite;
    }

    /* logo container styles */

    .logo-img img{
    width: 30px;
    height: 30px;
    }

    .logo-title h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(91, 91, 91);
    }
    
   /* nav container styles*/
   .nav-container{
    gap: 0;
   }

   .nav-container ul{
    display: none;
   }

   /* navigation button */
   .nav-button button{
    padding: 10px 20px;
    font-size: 15px;
} 
    
    /* ==========================
       BANNER STYLES
       ========================== */
      
    
    
    /* ==========================
       MAIN CONTAINER STYLES
       ========================== */
    
       
    
    }
    
    
    @media screen and (min-width:769px) and (max-width:992px){
     /* ==========================
       HEADER STYLES
    ========================== */
    .header-container {
        padding: 30px 40px;
        background-color: blueviolet;
    }

    /* logo container styles */

    .logo-img img{
    width: 30px;
    height: 30px;
    }

    .logo-title h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(91, 91, 91);
    }
    
   /* nav container styles*/
   .nav-container{
    gap: 0;
   }

   .nav-container ul{
    display: none;
   }

   /* navigation button */
   .nav-button button{
    padding: 10px 20px;
    font-size: 15px;
} 
       
       
    }
    
    
    @media screen and (min-width:993px) and (max-width:1200px){
    /* ==========================
       HEADER STYLES
    ========================== */
    .header-container {
        padding: 30px 50px;
        background-color: aqua;
    }

    /* logo container styles */

    .logo-img img{
    width: 30px;
    height: 30px;
    }

    .logo-title h1{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(91, 91, 91);
    }
    
   /* nav container styles*/
   .nav-container{
    gap: 0;
   }

   .nav-container ul{
    display: none;
   }

   /* navigation button */
   .nav-button button{
    padding: 10px 20px;
    font-size: 15px;
} 
    }